/* .about-view {
  margin-left: 5%;
  margin-right: 5%;
} */
/* .row {
  display: inline;
  text-align: center;
  background-color:pink;
} */
div.row {
  width: 50%;
  display: block;
  margin: 0 auto;
}

div.aboutliza {
  background-image: url("liza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
  width:300px;
  height:400px;
}

div.aboutozge {
  background-image: url("ozge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
  width:300px;
  height:400px;
}

div.aboutsarah {
  background-image: url("sarah3.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
  width:300px;
  height:400px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: darkgray;
}

.aboutsarah:hover .overlay {
  opacity: .8;
}
.aboutozge:hover .overlay {
  opacity: .8;
}
.aboutliza:hover .overlay {
  opacity: .8;
}

.text {
  color: black;
  font-size: 3vw;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

p.abouttext  {
  color: white;
  font-family: 'Roboto', sans-serif;

}

 .aboutinfo p {
   letter-spacing: .08em;
   text-align: left;
   color: white;
   line-height: 200%;
  }

@media screen and (min-width: 700px) {

  div.row {
    width: 100%;
    display: block;
    max-width: 990px;
    margin: 0 auto;
    text-align: center;
  }
  
  div.about-wrapper {
  width: 100%;
  display: block;
 
}
  .aboutinfo {
    margin-top:1%;
    width: 100%;
    display: block;
   }

 .aboutinfo  p {
   display: inline-block;
   vertical-align: text-top;
   }

  .aboutinfo1 {
    margin-top: 4%;
    width: 30%;
    margin-right: 4%;
  }

  .aboutinfo2 {
    width: 30%;
    margin-right: 4%;
  }

  .aboutinfo3 {
    width: 30%;
   
  }

  .aboutliza {
    background-image: url("liza.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 200px;
  }

  .aboutozge {
    background-image: url("ozge.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 200px;
    margin-right:4%;
  }

  .aboutsarah {
    background-image: url("ozge.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 200px;
    margin-right:4%;
  }
 
}