div {
  position: relative;
  }

.profile-image-container-liza {
  width: 100%;
  margin: 100%;
  max-width: 900px;
  display: block;
  background-color: aqua;
  background-image: url(grit2.jpg);
}

.profile-image-container {
  position: inherit;
   width: 100%;
   margin: 0 auto;
   max-width: 900px;
   display: block;
   width:100%;
   margin: 0 auto;
 }


@media screen and (min-width: 600px) {

 .profile-image-container {
   width: 47%;
   margin: .5% auto;
   float: right;
 }

 .profile-image-container-liza {
  width: 47%;
  margin: .5% auto;
  float: left;
}
  /* .profileimage {
    width: 300px;
    max-height: 100px;
    margin: 1% 1% 1% 1%;
  } */
}

