.about-view {
  margin-left: 5%;
  margin-right: 5%;
}
/* .row {
  display: inline;
  text-align: center;
  background-color:pink;
} */
div.row {
  margin: 0 auto;
}

div.aboutliza {
  background-image: url("liza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width:300px;
  height:400px;
}

div.aboutozge {
  background-image: url("ozge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width:300px;
  height:400px;
}

div.aboutsarah {
  background-image: url("ozge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width:300px;
  height:400px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: darkgray;
}

.aboutsarah:hover .overlay {
  opacity: .8;
}
.aboutozge:hover .overlay {
  opacity: .8;
}
.aboutliza:hover .overlay {
  opacity: .8;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media screen and (min-width: 700px) {

  body{
    margin: 0 auto;
    width: 990px;
}

  div.row {
    max-width: 990px; 
    margin: 0 auto;
    background-color: blue;
  }
  .aboutliza {
    background-image: url("liza.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 200px;
  }

  .aboutozge {
    background-image: url("ozge.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 200px;
    margin-right:4%;
  }

  .aboutsarah {
    background-image: url("ozge.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 200px;
    margin-right:4%;
  }
}