  .topna nav {
      width: 100%;
      z-index:1;
      display: inline;
    }
    .topnav li {
        display: inline;
    }

.hamburger {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 2%;
    z-index: 10;
}

    #show-menu {
        display: none;
    }
    
    .tab {
        visibility: collapse;
       
    }


/*modules*/
 

    .hamburger {
        width: 35px;
        height: 6px;
        border-top: 5px solid white;
        border-bottom: 15px double white;
        margin: 1% 1%;
    }
  
/*      #show-menu:checked {
         position: fixed;
         z-index: 9;
     }
     */
    
    #show-menu:checked ~ * .tab {
        
        visibility: visible;
        display: block;
        text-align: center;
        padding:0 10px;	
        color:#FFF;
        font-size:20px;
        line-height: 60px;
        text-decoration:none;
        z-index:100;
    }

@media screen and (min-width: 1200px) {
    .hamburger{
        display: none;
    }

    .tab {
        visibility: visible;
       
    }
 #show-menu:checked ~ * .tab {
        visibility: visible;
        display: inline;
       
    }
}