button {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  border-radius: 3%;
  display: block;
  width: 20%;
  background: linear-gradient(to bottom left,mediumorchid, lightskyblue);
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  margin: .5% auto;
  display: block;
}

.caption1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: white;
  font-weight: bold;
}

.caption2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: white;
  font-weight: bold;
}

.caption3 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: white;
  font-weight: bold;
}

.button1 {
  background-repeat: no-repeat;
  background-position: center;
  /* margin: .1% auto; */
}

/* desktop nav */

.topnav {
  overflow: hidden;
  background: linear-gradient(to bottom right, black, rgb(80, 77, 77));
  opacity: .7;
  position: fixed;
  background-position: center;
  top: 0%;
  width: 100%;
  right: .1%;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.topnav a {
  display: inline;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2vw;
  font-family: 'Roboto', sans-serif;
}

.topnav a:hover {
  background-color: rgb(80, 77, 77);
  opacity: .7;
  color: white;
}

/* end desktop nav, move to @media at some point */

@media screen and (min-width: 450px) {

  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .caption1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .caption2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .caption3 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
  }

}