div {
    position: relative;
    }

#image-container div {
   position: inherit;
    width: 100%;
    margin: 0 auto;
    max-width: 900px;

}
.left {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.right {
    display: block;
    width:100%;
    margin: 0 auto;
}

#image-container p {
    position:absolute;
    display: block;

}

.main:hover {
    opacity: .3;
    transition: opacity .60s ease-out;
}


img {
    max-height: 600px;
    max-width: 900px;
    margin: 1% 1% 1% 1%;
}

.largefont {
    font-size: 4vw;
    letter-spacing: 5px;
    margin: 0px auto;
}

.smallfont {
    font-size: 1vw;
    margin: 5vw auto;
    text-transform: uppercase;
    letter-spacing: 5px;
    
}

form {
    padding: 5%;
}

input {
    padding:1%;
    margin: 2%;
    font-size: 30px;
    border: 3px solid white;
    color:white;
    background-color: black;
    display: block;
    margin: 0 auto;
}

.aboutpage {
    color:white;
}

.header {
    width: 100%;
    height: 400px;
}

.headeruppertext {
font-size: 3vw;
color: white;
font-family: 'Roboto', sans-serif;
letter-spacing: 10px;
text-shadow: 1px 1px 1px #ffffff;
padding-bottom: 2%;
}

.headertext {
font-size: 7vw;
color: white;
font-family: 'Roboto', sans-serif;
letter-spacing: 30px;
text-shadow: 1px 1px 1px #ffffff;
}

button {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 2%;
    border-radius: 1%;
    display: block;
    width: 30%;
    background-color: black;
    color: white;
    margin: 3% auto;
  }

  button:hover {
    color:black;
    background-color: white; 
  }


@media screen and (min-width: 1200px) {
 img{
    width: 600px;
    max-height: 400px;
    margin: 1% 1% 1% 1%;
  }

 main {
    width: 100%;
  }
 .main-view {
   position: relative;
 }
  #image-container {
   width: 47%;
   margin: .5% auto;
 }

.main:hover {
     opacity: .3;
     transition: opacity .60s ease;
 }

 .left {
    float: left;
}
 .right {
     float: right;
   }

#image-container p {
    position:absolute;
    display: block;

}

.largefont {
font-size: 38px;
letter-spacing: 5px;
 margin: 0px auto;
}

.smallfont {
    font-size: 24px;
    margin: 70px auto;

}
.header {
    width: 100%;
    height: 400px;
  }

  .header-about {
    width: 100%;
    height: 200px;
  }

.headeruppertext {
font-size: 2vw;
color: white;
font-family: 'Roboto', sans-serif;
letter-spacing: 10px;
text-shadow: 1px 1px 1px #ffffff;
padding-bottom: 2%;
}

.headertext {
font-size: 5vw;
color: white;
font-family: 'Roboto', sans-serif;
letter-spacing: 30px;
text-shadow: 1px 1px 1px #ffffff;
}
button {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 2%;
    border-radius: 1%;
    display: block;
    width: 20%;
    background-color: black;
    color: white;
    margin: 3% auto;
}

  button:hover {
    color:black;
    background-color: white; 
  }

}

/*TEXT STYLES*/

p {
 color: white;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1px 1px 3px #202020;
}

