.loader {
  color:#fff;
  position:fixed;
  box-sizing:border-box;
  left:-9999px;
  top:-9999px;
  width:0;
  height:0;
  overflow:hidden;
  z-index:999999
}

.loader:after,.loader:before {
  box-sizing:border-box;
  display:none;
}

/* Loader for first page */
.loader.is-active {
  background-color:rgb(0,0,0);
  width:100%;
  height:100%;
  left:0;
  top:0
}

.loader.is-active:after,.loader.is-active:before{
  display:block
}

.loader-curtain:after,.loader-curtain:before{
  position:fixed;
  width:100%;
  top:50%;
  margin-top:-35px;
  font-size:30px;
  text-align:center;
  font-family: 'Cutive Mono', monospace;
  overflow:hidden;
  line-height:1.2;
  content:"We may encounter many defeats but we must not be defeated. —Maya Angelou"
}

.loader-curtain:before{
  color:rgb(238, 238, 238);
}

.loader-curtain:after{
  color:#fff;
  height:0;
  animation:curtain 1s linear infinite alternate both
}

/* Loader for second page */
.loader.is-active2 {
  background-color:rgb(0,0,0);
  width:100%;
  height:100%;
  left:0;
  top:0
}

.loader.is-active2:after,.loader.is-active2:before{
  display:block
}

.loader-curtain2:after,.loader-curtain2:before{
  position:fixed;
  width:100%;
  top:50%;
  margin-top:-35px;
  font-size:30px;
  text-align:center;
  font-family: 'Cutive Mono', monospace;
  overflow:hidden;
  line-height:1.2;
  content:"How wonderful it is that nobody need wait a single moment before starting to improve the world. —Anne Frank"
}

.loader-curtain2:before{
  color:rgb(238, 238, 238);
}

.loader-curtain2:after{
  color:#fff;
  height:0;
  animation:curtain 1s linear infinite alternate both
}

/* Loader for third page */
.loader.is-active3 {
  background-color:rgb(0,0,0);
  width:100%;
  height:100%;
  left:0;
  top:0
}

.loader.is-active3:after,.loader.is-active3:before{
  display:block
}

.loader-curtain3:after,.loader-curtain3:before{
  position:fixed;
  width:100%;
  top:50%;
  margin-top:-35px;
  font-size:30px;
  text-align:center;
  font-family: 'Cutive Mono', monospace;
  overflow:hidden;
  line-height:1.2;
  content:"The most difficult thing is the decision to act, the rest is merely tenacity. —Amelia Earhart"
}

.loader-curtain3:before{
  color:rgb(238, 238, 238);
}

.loader-curtain3:after{
  color:#fff;
  height:0;
  animation:curtain 1s linear infinite alternate both
}

/* Loader for fourth page */
.loader.is-active4 {
  background-color:rgb(0,0,0);
  width:100%;
  height:100%;
  left:0;
  top:0
}

.loader.is-active4:after,.loader.is-active4:before{
  display:block
}

.loader-curtain4:after,.loader-curtain4:before{
  position:fixed;
  width:100%;
  top:50%;
  margin-top:-35px;
  font-size:30px;
  text-align:center;
  font-family: 'Cutive Mono', monospace;
  overflow:hidden;
  line-height:1.2;
  content:"With the new day comes new strength and new thoughts. —Eleanor Roosevelt"
}

.loader-curtain4:before{
  color:rgb(238, 238, 238);
}

.loader-curtain4:after{
  color:#fff;
  height:0;
  animation:curtain 1s linear infinite alternate both
}