/*Hide classes until user logs in*/

#users-update {
  display: none;
}

#users-delete {
  display: none;
}

#users-favorite {
  display: none;
}

.favorite-button{
  display:none;
}
/* #label-favorite-id {
  display: none;
} */
.delete {
 display:none;
}

