/*Hide classes until user logs in*/

#users-update {
  display: none;
}

#users-delete {
  display: none;
}

#users-favorite {
  display: none;
}

.favorite-button{
  display:none;
}
/* #label-favorite-id {
  display: none;
} */
.delete {
 display:none;
}
button {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  border-radius: 3%;
  display: block;
  width: 20%;
  background: linear-gradient(to bottom left,mediumorchid, lightskyblue);
  margin: 0 auto;
}

