/* video styles */
.checked {
  display: none;
}
.video-item {
/*   background-color: #00ffff78; */
}
.video-container {
  padding: 3px;
/*   background-color: yellow; */
  display: block;
  position: relative;
  margin: 0 auto;
}
.video-container iframe {
 display: block;
 position: relative;
 margin: 0 auto;
}
.video-container iframe {
 display: block;
 position: relative;
 margin: 0 auto;
 width: 100%;
 height: 500px;
}

/* .video-container button {
  display: none;
} */

/* favorite button */
.label-favorite {
  width: 60px;
  height: 60px;
  background-image:url("white-heart.png");
  background-repeat: no-repeat;
  background-position: -85px -9px;
  position: relative;
  margin: 1% 5% 5% 5%;
  display: block;
  float: right;
 }
 .label-favorite:hover {
  width: 60px;
  height: 60px;
  background-image:url("white-heart.png");
  background-repeat: no-repeat;
  background-position: -27px -9px;
  position: relative;
  margin: 1% 5% 5% 5%;
  display: block;
  float: right;
 }
  #label-favorite-id:checked {
  width: 60px;
  height: 60px;
  background-image:url("white-heart.png");
  background-repeat: no-repeat;
  background-position: -27px -9px;
  position: relative;
  margin: 1% 5% 5% 5%;
  display: block;
  float: right;
 }


/*delete button*/
 .label-delete {
  width: 60px;
  height: 60px;
  background-image:url("delete-x.png");
  background-repeat: no-repeat;
  background-position: -85px -9px;
  position: relative;
  margin: 1% 5% 5% 5%;
  display: block;
  float: right;
 }
 .label-delete:hover {
  width: 60px;
  height: 60px;
  background-image:url("delete-x.png");
  background-repeat: no-repeat;
  background-position: -27px -9px;
  position: relative;
  margin: 1% 5% 5% 5%;
  display: block;
  float: right;
 }






